//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// components
@import "../../views/_components/search-form/search-form.scss";
@import "../../views/_components/search/search.scss";
@import "../../views/_components/primary-navigation/primary-navigation.scss";
@import "../../views/_components/filter-layout/filter-layout.scss";
@import "../../views/_components/action-bar/action-bar.scss";
@import "components/filter.scss";
@import "components/list.scss";

// Add extra styles here

.js-enabled .app-js-hidden {
  display: none;
}

.app-hidden {
  display: none;
}

.app-phase-banner {
  border-bottom: 0;
}

h1 .govuk-tag {
  position: relative;
  top: -5px;
}

// .app-notification-banner--red {
//   border-color: govuk-colour('red');
//   background-color: govuk-colour('red');
// }

.app-inset-text--blue {
  border-color: govuk-colour('blue');
}

.app-inset-text--red {
  border-color:govuk-colour('red');
}