{% extends "layouts/main.html" %}
{% set signedIn = false %}
{% set serviceUrl = '/' %}
{% set serviceName = '' %}
{% set title = 'GOV.UK' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check a teacher’s record
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p>A teacher’s record includes their qualifications and also tells you if they:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>passed their induction</li>
        <li>are prevented from teaching by a prohibition order</li>
        <li>were sanctioned by the General Teaching Council for England (GTCE)</li>
      </ul>
      <h2 class="govuk-heading-m">Before you start</h2>
      <p>To use this service you'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the teacher's last name and date of birth</li>
        <li>a DfE Sign-in account</li>
      </ul>

      {{ govukButton({
        classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-8",
        text: "Start now",
        href: '#',
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Qualified teacher learning and skills (QTLS) status</h2>

      <p>A teacher’s record will not tell you if they have QTLS. You need to check the <a href="https://set.et-foundation.co.uk/your-career/professional-status-register">Society for Education and Training professional register</a>.</p>

      <h2 class="govuk-heading-m">School managers and governors</h2>

      <p>There’s a separate <a href="https://www.gov.uk/government/collections/individuals-prohibited-from-managing-or-governing-schools">list of people who are not allowed to manage or govern schools</a>. This is called the section 128 list.</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="x-govuk-related-navigation">
      <nav class="x-govuk-related-navigation__nav-section" role="navigation" aria-labelledby="related-navigation-related-content">
        <h2 class="govuk-heading-m" id="related-navigation-related-content">
          Help and guidance
        </h2>
        <ul class="govuk-list">
          <li>
            <a href="#">Check a teacher's record: guidance</a>
          </li>
          <li>
            <a href="https://edd-help.signin.education.gov.uk/contact">DfE Sign-in help</a>
          </li>
        </ul>

      </nav>
    </div>
  </div>
</div>
{% endblock %}
