{% extends "layouts/main.html" %}

{% set title = 'Restricted teachers found ' + '(' + totalCount + ')' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Start again",
    href: "/search"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{title}}</h1>

      {% if teachers.length == 0 %}
        <p>No teachers found.</p>
      {% else %}
        <div class="app-list">
          {% for teacher in teachers %}
            <div class="app-list__item">

              <h2 class="govuk-heading-s">
                <a class="govuk-link--no-visited-state" href="/teachers/{{teacher.id}}">{{teacher.firstName}} {{teacher.lastName}}</a>
              </h2>

              {% set restrictions %}
                <ul class="govuk-list govuk-list--spaced govuk-!-font-size-16">
                  {% for restriction in teacher.restrictions %}
                    <li>
                      {{restriction.type.label}}
                    </li>
                  {% endfor %}
                </ul>
              {% endset %}


              {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border app-summary-list--compact',
                rows: [
                  {
                    key: {
                      text: "TRN"
                    },
                    value: {
                      text: teacher.trn
                    }
                  },
                  {
                    key: {
                      text: "Date of birth"
                    },
                    value: {
                      text: teacher.dob | date
                    }
                  },
                  {
                    key: {
                      text: "Restrictions"
                    },
                    value: {
                      html: restrictions
                    }
                  }
                ]
              }) }}
            </div>
          {% endfor %}

          {% if pagination.pageItems.length > 1%}

            {{ govukPagination({
              classes: 'govuk-!-margin-bottom-2',
              previous: {
                href: "#"
              } if pagination.pageNumber > 1,
              next: {
                href: "#"
              } if pagination.pageNumber < pagination.pageCount,
              items: pagination.pageItems
            })}}
            <p class="govuk-!-margin-bottom-0">Showing {{pagination.startItem}} to {{pagination.endItem}} of {{pagination.totalCount}} pages</p>
          {% endif %}

        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
