{% extends "layouts/main.html" %}

{% set title = 'Restricted teachers' + ' (' + totalCount + ')' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Start again",
    href: "/search"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{title}}</h1>

      <div class="app-search-for govuk-!-margin-bottom-6">
        {{ appSearch({
          label: {
            text: 'Search by teacher name',
            classes: 'govuk-label--'
          },
          input: {
            id: 'teacherName',
            name: 'teacherName',
            value: data.teacherName
          },
          action: '/restricted-teachers',
          buttons: [{
            text: 'Search',
            classes: 'app-search__button'
          }],
          classes: 'govuk-!-margin-bottom-2' if not data.teacherName
        }) }}

        {% if data.teacherName %}
          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
            <a class="govuk-link govuk-link--no-visited-state" href="/restricted-teachers/clear-search">Clear search</a>
          </p>
        {% endif %}
        </div>

      {% if teachers.length == 0 %}
        <p>No teachers found.</p>
      {% else %}
        <div class="app-list">
          {% for teacher in teachers %}
            <div class="app-list__item">

              <h2 class="govuk-heading-s">
                <a class="govuk-link--no-visited-state" href="/teachers/{{teacher.id}}">{{teacher.firstName}} {{teacher.lastName}}</a>
              </h2>

              {% set restrictions %}
                <ul class="govuk-list govuk-list--spaced govuk-!-font-size-16">
                  {% for restriction in teacher.restrictions %}
                    <li>
                      {{restriction.type.label}}
                    </li>
                  {% endfor %}
                </ul>
              {% endset %}


              {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border app-summary-list--compact',
                rows: [
                  {
                    key: {
                      text: "TRN"
                    },
                    value: {
                      text: teacher.trn
                    }
                  },
                  {
                    key: {
                      text: "Restrictions"
                    },
                    value: {
                      html: restrictions
                    }
                  }
                ]
              }) }}
            </div>
          {% endfor %}

          {% if pagination.pageItems.length > 1%}

            {{ govukPagination({
              classes: 'govuk-!-margin-bottom-2',
              previous: {
                href: "#"
              } if pagination.pageNumber > 1,
              next: {
                href: "#"
              } if pagination.pageNumber < pagination.pageCount,
              items: pagination.pageItems
            })}}
            <p class="govuk-!-margin-bottom-0">Showing {{pagination.startItem}} to {{pagination.endItem}} of {{pagination.totalCount}} pages</p>
          {% endif %}

        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
