{% set filterOptionsHtml %}

  {{ govukCheckboxes({
    idPrefix: "filters[yourTeachers]",
    name: "filters[yourTeachers]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Your teacher",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'Your teacher',
      text: 'Your teacher'
    }, {
      value: 'Not your teacher',
      text: 'Not your teacher'
    }],
    values: data.filters.yourTeachers
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filters[hasProhibition]",
    name: "filters[hasProhibition]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Prohibition",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'Has a prohibition',
      text: 'Has a prohibition'
    }, {
      value: 'Does not have a prohibition',
      text: 'Does not have a prohibition'
    }],
    values: data.filters.hasProhibition
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filters[prohibitionTypes]",
    name: "filters[prohibitionTypes]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Prohibition type",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'Type 1',
      text: 'Type 1'
    }, {
      value: 'Type 2',
      text: 'Type 2'
    }, {
      value: 'Type 3',
      text: 'Type 3'
    }, {
      value: 'Type 4',
      text: 'Type 4'
    }],
    values: data.filters.prohibitionTypes
  }) }}

{% endset %}

<div class="app-filter">
  <div class="app-filter__header">
    <div class="app-filter__header-title">
      <h2 class="govuk-heading-m">Filter</h2>
    </div>
    <div class="app-filter__header-action">

    </div>
  </div>
  <div class="app-filter__content">
    {% if selectedFilters.categories.length %}
      <div class="app-filter__selected">
        <div class="app-filter__selected-heading">
          <div class="app-filter__heading-title">
            {# <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Selected filters</h2> #}
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/teachers/clear-filters">Clear filters</a></p>
          </div>
        </div>
        {% for category in selectedFilters.categories %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ category.heading.text }}</h3>
          <ul class="app-filter-tags">
            {% for item in category.items %}
              <li><a class="app-filter__tag" href="{{item.href}}"><span class="govuk-visually-hidden">Remove this filter</span> {{item.text}}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    {% endif %}
    <div class="app-filter__options">
      <form method="get" action="/teachers" novalidate>
        <button class="govuk-button" data-module="govuk-button">
          Apply filters
        </button>
        {{filterOptionsHtml | safe}}
      </form>
    </div>
  </div>
</div>
