{{ govukHeader({
    homepageUrl: "#",
    serviceName: serviceName,
    serviceUrl: '/',
    navigation: [
      {
        href: "/account/sign-out",
        text: "Sign out (Courtland Academy)"
      }
    ] if user
  }) }}