{% extends "layouts/main.html" %}

{% set resultsContent = '' + totalCount + ' records found' %}

{% if resultsContent == "0 records found" %}
{% set title = 'No records found' %}
{% elseif resultsContent == "1 records found" %}
{% set title = 'Record found' %}
{% else %}
{% set title = resultsContent %}
{% endif %}

{% block beforeContent %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "/"
},
{
text: "Search results"
}
]
}) }}
{% if teachers.length == 0 %}
<span class="govuk-caption-m">Records searched at {{ "now" | govukTime }} on {{ "today" | govukDate }}</span>
{% endif %}
{% endblock %}

{% block content %}
{% if teachers.length == 0 %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">{{title}}</h1>

    <p>No record found for {{data.lastName [0].toUpperCase() + data.lastName.slice(1)}} born on
      {{ data | isoDateFromDateInput("date") | govukDate }}.
    </p>

    <p><a href="/index">Search again</a></p>
    {% else %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">{{title}}</h1>

        <!---
          <p>{{resultsContent}} for <strong>{{data.lastName [0].toUpperCase() + data.lastName.slice(1)}}</strong> born on <strong>{{ data | isoDateFromDateInput("date") | govukDate }}</strong>.</p>
          --->

        <div class="app-list">

          {% for teacher in teachers %}
          <div class="app-list__item">

            <h2 class="govuk-heading-s">

              {% if teacher.middleName %}

              <a class="govuk-link--no-visited-state" href="/teachers/{{teacher.id}}">{{teacher.firstName}}
                {{teacher.middleName}} {{teacher.lastName}}</a>

              {% else %}

              <a class="govuk-link--no-visited-state" href="/teachers/{{teacher.id}}">{{teacher.firstName}}
                {{teacher.lastName}}</a>

              {% endif %}

            </h2>

            {# {% set restrictions %}
            <ul class="govuk-list govuk-list--spaced govuk-!-font-size-16">
              {% for restriction in teacher.restrictions %}
              <li>
                {{restriction.type.label}}
              </li>
              {% endfor %}
            </ul>
            {% endset %} #}

            {# {% if teacher.hasProhibitions == 'Yes' %}
            {{ govukTag({
            text: teacher.status,
            classes: teacher.status | statusClass
            }) }}
            {% endif %} #}

            {{ govukSummaryList({
            classes: 'govuk-summary-list--no-border app-summary-list--compact',
            rows: [
            {
            key: {
            text: "TRN"
            },
            value: {
            text: teacher.trn
            }
            },
            {
            key: {
            text: "Date of birth"
            },
            value: {
            text: teacher.dob | date
            }
            },
            {
            key: {
            text: "Previous last names"
            },
            value: {
            text: teacher.previousLastNames | join('<br>') | safe
            }
            } if teacher.previousLastNames
            ]
            }) }}
          </div>
          {% endfor %}


          {% if pagination.pageItems.length > 1 %}
          {{ govukPagination({
          classes: 'govuk-!-margin-bottom-2',
          previous: {
          href: "#"
          } if pagination.pageNumber > 1,
          next: {
          href: "#"
          } if pagination.pageNumber < pagination.pageCount, items: pagination.pageItems }) }} <p
            class="govuk-!-margin-bottom-0">Showing {{pagination.startItem}} to {{pagination.endItem}} of
            {{pagination.totalCount}} pages</p>
            {% endif %}

            <p><a href="/index">Search again</a></p>

        </div>
        {% endif %}
      </div>
    </div>
    {% endblock %}