{% extends "layouts/main.html" %}

{% set title = 'Teachers (' + totalCount + ')' %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "_includes/filter-panel.njk" %}
    </div>

    <div class="app-filter-layout__content">
      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      {% include "_includes/search-form.njk" %}

      {% if teachers.length == 0 %}
        <p>No teachers found.</p>
      {% else %}
        <div class="app-list">

          {% for teacher in teachers %}
            <div class="app-list__item">
              <h2 class="govuk-heading-m">
                <a class="govuk-link--no-visited-state" href="/teachers/{{teacher.id}}">{{teacher.firstName}} {{teacher.lastName}}</a>
              </h2>
              {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border app-summary-list--compact',
                rows: [
                  {
                    key: {
                      text: "TRN"
                    },
                    value: {
                      text: teacher.trn
                    }
                  },
                  {
                    key: {
                      text: "Your teacher"
                    },
                    value: {
                      text: teacher.yourTeacher
                    }
                  },
                  {
                    key: {
                      text: "Prohibitions"
                    },
                    value: {
                      text: teacher.prohibitions | join(', ') | title
                    }
                  },
                  {
                    key: {
                      text: "Email address"
                    },
                    value: {
                      text: 'name@example.com'
                    }
                  },
                  {
                    key: {
                      text: "QTS"
                    },
                    value: {
                      text: '1 January 2023'
                    }
                  },
                  {
                    key: {
                      text: "Inducted"
                    },
                    value: {
                      text: 'Yes'
                    }
                  }
                ]
              }) }}
            </div>
          {% endfor %}

          {{ govukPagination({
            classes: 'govuk-!-margin-bottom-2',
            previous: {
              href: "#"
            } if pagination.pageNumber > 1,
            next: {
              href: "#"
            } if pagination.pageNumber < pagination.pageCount,
            items: pagination.pageItems
          }) }}
          <p class="govuk-!-margin-bottom-0">Showing {{pagination.startItem}} to {{pagination.endItem}} of {{pagination.totalCount}} pages</p>

        </div>
      {% endif %}
    </div>
  </div>

  {{selectedFilters | log}}

{% endblock %}
