{% extends "layouts/main.html" %}

{% set name = teacher.firstName + ' ' + teacher.lastName %}

{% set title = name %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/teachers"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        {{title}}
        {{ govukTag({
          text: teacher.status,
          classes: teacher.status | statusClass
        }) }}
      </h1>

      {% if user.organisation.name == teacher.organisation.name %}
        <p><a href="/teachers/{{teacher.id}}/remove">Remove from your organisation</a></p>
      {% else %}
        <p><a href="/teachers/{{teacher.id}}/add">Add to your organisation</a></p>
      {% endif %}

      <h2 class="govuk-heading-m">
        Organisation details
      </h2>

      {% set address %}
        <p>{{teacher.organisation.address.address1}},<br>
        {{teacher.organisation.address.town}},<br>
        {{teacher.organisation.address.postcode}}</p>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Organisation ID"
            },
            value: {
              text: teacher.organisation.id
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: address
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Personal details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "TRN"
            },
            value: {
              text: teacher.trn
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: teacher.emailAddress
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Qualified teaching status (QTS)
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "QTS"
            },
            value: {
              text: 'Qualified teacher (trained)'
            }
          },
          {
            key: {
              text: "Awarded date"
            },
            value: {
              text: '1 January 2021'
            }
          },
          {
            key: {
              text: "Partial recognition date"
            },
            value: {
              text: '-'
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Early years teacher status (EYTS)
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "EYTS"
            },
            value: {
              text: 'Some status'
            }
          },
          {
            key: {
              text: "Awarded date"
            },
            value: {
              text: '1 January 2021'
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Induction status
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Induction status"
            },
            value: {
              text: 'Needs to be completed'
            }
          },
          {
            key: {
              text: "Reason"
            },
            value: {
              text: '-'
            }
          },
          {
            key: {
              text: "Are they eligible to complete a one year induction period under transition arrangements?"
            },
            value: {
              text: 'No'
            }
          },
          {
            key: {
              text: "Induction status completion date"
            },
            value: {
              text: '-'
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Initial teacher training
      </h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Qualification"
            },
            value: {
              text: '-'
            }
          },
          {
            key: {
              text: "ITT organisation"
            },
            value: {
              text: 'Department for Education'
            }
          },
          {
            key: {
              text: "Programme type"
            },
            value: {
              text: 'HEI'
            }
          },
          {
            key: {
              text: "Subject"
            },
            value: {
              text: 'Historical linguistics'
            }
          },
          {
            key: {
              text: "Additional subjects"
            },
            value: {
              text: 'Maths'
            }
          },
          {
            key: {
              text: "Age range"
            },
            value: {
              text: '6 to 19 years'
            }
          },
          {
            key: {
              text: "Course end date"
            },
            value: {
              text: '6 May 2021'
            }
          },
          {
            key: {
              text: "Result"
            },
            value: {
              text: 'Pass'
            }
          },
          {
            key: {
              text: "Grade"
            },
            value: {
              text: 'First class honours'
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Additional qualifications
      </h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Mandatory qualification (MQ) specialism"
            },
            value: {
              text: 'Multi sensory impairment'
            }
          },
          {
            key: {
              text: "MQ date awarded"
            },
            value: {
              text: '19 September 2018'
            }
          },
          {
            key: {
              text: "National professional qualification (NPQ) for executive leadership"
            },
            value: {
              text: '19 September 2018'
            }
          },
          {
            key: {
              text: "National professional qualification (NPQ) for headteacher"
            },
            value: {
              text: '19 September 2018'
            }
          },
          {
            key: {
              text: "National professional qualification (NPQ) for senior leadership"
            },
            value: {
              text: '-'
            }
          },
          {
            key: {
              text: "National professional qualification (NPQ) for middle leadership"
            },
            value: {
              text: '-'
            }
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
