{% extends "layouts/main.html" %}

{% set name = teacher.firstName + ' ' + teacher.lastName %}

{% set title = name %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: 'Teachers',
        href: '/teachers'
      },
      {
        text: name
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{title}}</h1>
    </div>
  </div>
{% endblock %}
