{% extends "layouts/main.html" %}

{% set pageName = 'Sign in to check a teacher’s record' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <p>You can search for a teacher’s record using their last name and date of birth.</p>
      <p>A teacher’s record includes their qualifications and also tells you if they:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>failed their induction or probation</li>
        <li>are prevented from teaching by a prohibition order</li>
        <li>were sanctioned by the General Teaching Council for England (GTCE)</li>
      </ul>

      <form method="post">
        {{ govukButton({
          text: "Sign in",
          isStartButton: true
        }) }}
      </form>

      <h2 class="govuk-heading-m">Check if someone can manage or govern a school</h2>

      <p>There’s a separate list of <a href="">people who are not allowed to manage an independent school or be a governor at a local authority maintained school</a>.
      </p>

    </div>

      {# <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s">Related content</h2>
        <p class="govuk-body">Individuals prohibited from managing or governing schools</p>
      </div> #}


  </div>
{% endblock %}
