{% extends "layouts/main.html" %}

{% set pageName = 'Check a teacher’s record' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <p>A teacher’s record includes their qualifications and also tells you if they:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>passed their induction</li>
        <li>are prevented from teaching by a prohibition order</li>
        <li>were sanctioned by the General Teaching Council for England (GTCE)</li>
      </ul>

      <p>You can search for a teacher’s record using their last name and date of birth.</p>

      <p>You should <a href="https://www.gov.uk/government/publications/dbs-identity-checking-guidelines">confirm the teacher’s identity</a> before you check their record.</p>

      <h2 class="govuk-heading-m">Before you start</h2>
<p>You need a DfE Sign-in account. If you do not have one then you can:</p>
<ul class="govuk-list govuk-list--bullet">
<li>ask your organisation’s approver to create an account for you</li>
<li>use the <a href="https://help.signin.education.gov.uk/contact-us">contact form</a> to request an account if you do not have an approver</li>
<li>email <a href="mailto:teaching.status@education.gov.uk">teaching.status@education.gov.uk</a> if you work for a teacher supply agency – you should normally receive a response within 5 working days</li>
</ul>
<p>If you need to check a teacher’s record while you wait for your DfE Sign-in account, email <a href="mailto:employer.access@education.gov.uk">employer.access@education.gov.uk</a> and say ‘urgent query’ in the subject line.</p>
      

      <form method="post">
        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}
      </form>

      <h2 class="govuk-heading-m">Qualified teacher learning and skills (QTLS) status</h2>

      <p>This service will not tell you if a teacher has QTLS. You need to check the <a href="https://set.et-foundation.co.uk/your-career/professional-status-register">Society for Education and Training professional register</a>.
      </p>

      <h2 class="govuk-heading-m">School managers and governors</h2>

      <p>There's a separate <a href="https://www.gov.uk/government/collections/individuals-prohibited-from-managing-or-governing-schools">list of people who are not allowed to manage or govern schools</a>. This is sometimes called the section 128 list.
      </p>

    </div>

      {# <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s">Related content</h2>
        <p class="govuk-body">Individuals prohibited from managing or governing schools</p>
      </div> #}


  </div>
{% endblock %}
