{% extends "layouts/main.html" %}

{% set title = 'Sign in' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Sign in</h1>

      <p>Use this service to check:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          a teacher’s qualifications
        </li>
        <li>
          if a teacher has any restrictions that affect the type of work they can be employed to do
        </li>
      </ul>


      <form method="post">
        {{ govukButton({
          text: "Sign in",
          isStartButton: true
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
