{% extends "layouts/redirect.html" %}

{% set pageName = 'We are replacing Employer Access' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">We're replacing Employer Access</h1>

      <p>Use the following services to get information about a teacher:</p>
      <h2 class="govuk-heading-m"><a href="https://check-a-teachers-record.education.gov.uk/check-records/sign-in">Check a teacher’s record</a></h2>
      <p>View a teacher’s qualifications and find out if they have restrictions, for example if they’ve been found guilty of serious misconduct.</p>
      <h2 class="govuk-heading-m"><a href="https://check-the-childrens-barred-list.education.gov.uk/sign-in">Check the children's barred list</a></h2>
      <p>If someone is on the children's barred list they are not allowed to work with children.</p>

  </div>
{% endblock %}
