{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% from "_components/search/macro.njk" import appSearch %}
{% from "_components/primary-navigation/macro.njk" import appPrimaryNavigation %}

{% block pageTitle %}
  {{title}} – {{serviceName}} – GOV.UK
{% endblock %}

{% block header %}
  {% include "_includes/header.njk" %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.',
    classes: 'govuk-width-container app-phase-banne'
  }) }}
  {# {% include "_includes/primary-navigation.njk" %} #}
{% endblock %}

{% block footer %}
  {% include "_includes/footer.njk" %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    var AppFrontend = {}
  </script>
  <script src="/public/javascripts/filter-toggle-button.js"></script>
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
  </script>
{% endblock %}