{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% from "_components/search/macro.njk" import appSearch %}

{% block pageTitle %}
  {{title}} – {{serviceName}} – GOV.UK
{% endblock %}

{% block header %}
  {% include "_includes/header.njk" %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.',
    classes: 'govuk-width-container'
  }) }}
{% endblock %}
